.blog {
  &__title {
    font-size: 20px;
  }

  &--tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    justify-content: space-around;
  }

  &--tile {
    text-decoration: none;
    background-color: #ccc;
    padding: 1rem;
    border-radius: 5px;
    color: #000;

    &__title {
      font-size: 20px;
    }
  }
}
