.products {
  &__title {
    font-size: 20px;
  }

  &--tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    justify-content: space-around;
  }

}
